<button class="btn back">Back</button>
<% if (projectTitle && devtPartner) { %>
	<h2>Project Title: <%= projectTitle %></h2>
	<h2>Development Partner: <%= devtPartner %></h2>
<% } %>
<section class="contract-section">
	<div class="contracts">
	</div>
	<button class="btn" id="add-contract">Add Contract</button>
</section>